<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= '../static/logo/black_mobius.png' rel="shortcut icon" type="image/x-icon">
    <title>BlackMöbius Shop ∞</title>
    <link rel="stylesheet" type="text/css" href="./static/main_button.css">
</head>
<body>
    <a href="http://172.16.101.169:9900/shop" style="text-align: center;">
        <span>∞</span>
        BlackMöbius
    </a>
</body>
</html>
